body {
	font-family: 'Open Sans', sans-serif;
  background-color: black;
	background-image: url("../assets/image-1.jpg");
	background-size: cover;
}


.main-div, .loggedin-div, .create_div {
  height: 25%;
  width: 25%;
	font-size: 25px;
	color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 10%;
  padding: 20px;
  display: none;
}


.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
	border-radius: 5px;
  border-bottom:2px solid black;
	border-top:2px solid black;
}
input:focus 		{ outline:none; }

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#fff;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:3px;
  width:0;
  bottom:1px;
  position:absolute;
  background:grey;
  transition:1s ease all;
  -moz-transition:1s ease all;
  -webkit-transition:1s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

.button{
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	width: 50%;
	cursor: pointer;
}

.buttonacc {
	color: #fff;
	position: relative;
}

.buttonacc span{
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	  text-decoration: none;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.buttonacc a{
	color: #fff;
	text-decoration: none;
	display: block;

}

.buttonacc::before{
	content: '';
	position: absolute;
	text-decoration: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);

}

.buttonacc:hover span{
	letter-spacing: 1px;
	text-decoration: none;
}

.buttonacc:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	text-decoration: none;

}

.buttonacc::after{
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.25);
	text-decoration: none;

}

.buttonacc:hover::after{
	opacity: 0;
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
}


a:hover {
  text-decoration: none;
}

.h3{
	font-size: 20px;
	color: #fff;
	margin-bottom:10%;
}
