html,body{
    background: white;
    margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
    font-family: 'Calibri';
}

/* ------------- HEADER -----------*/
header{
	min-height: 100px;
	height: 50%;
	width: 100%;
	flex-direction: row;
	display: flex;
  z-index: 8000;
  top: 0;
    box-shadow: 5px 3px 8px grey;
}
.logobar{
	display: flex;
	height: 100%;
	width: 15%;
	background-color: transparent;
    justify-content: center;
    background-color: #F2F2F2;

}
.logobar img{
	height: 150px;
    width: 150px;
}
/* --------------------- NAVBAR --------------------*/
#navbar {
	font-family: 'Calibri';
    font-size: 1.5em;
    width: 100%;
    background-color: #F2F2F2;
	border-radius: 5px;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
.navbar1{
    background-color: #F2F2F2;
	height: 100%;
	width: 100%;
	display: flex;
    flex-direction: row;
}

nav {
  color: black;
}

nav a:hover
{
    color: #D73C3C;
}
.grey {
    color: #D73C3C;
}

div a{
	text-decoration: none;
	text-shadow: 0.5px 0.5px 0.5px black;
    padding: 80px;
    font-size: 1.25em;
	color: black;
}

.buttonacc {
	color: black;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}

.buttonacc span{
    color: black;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	  text-decoration: none;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.buttonacc a{
	color: black;
	text-decoration: none;
	display: block;

}

.buttonacc::before{
	content: '';
	position: absolute;
	text-decoration: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
    color: black;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: black;
	border-bottom-color: black;
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);

}

.buttonacc:hover span{
	letter-spacing: 2px;
	text-decoration: none;
}

.buttonacc:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	text-decoration: none;

}

.buttonacc::after{
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.25);
	text-decoration: none;

}

.buttonacc:hover::after{
	opacity: 0;
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
}

/*------------- Reservation --------------*/

.reservation {
    display: flex;
    width: 100%;
    height: 100%;
}

#topblank {
    width: 100%;
    height: 20%;
 }
#sideblank {
    width: 25%;
    height: 100%;
}
#middleblank {
    width: 13%;
    height: 100%;
}

.mainpart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100;
}
.mainpart img {
    position: absolute;
    margin-left: 49%;
    margin-top: 12%;
    width: 30%;
    height: 70%;
    z-index: 3;
}
.first-part {
    width: 100%;
    height: 22%;
    font-size: 2em;
}
.second-part {
    display: flex;
    width: 70%;
    height: 33%;
}

.reserv {
    width: 41%;
    height: 100%;
    font-size: 1.4em;
}

.reserv a {
    width: 100%;
    font-size: 0.8em;
    color: black;
    text-decoration: underline #D73C3C;
}

.contact {
    width: 40%;
    height: 100%;
    font-size: 1.4em;
    background: #F2F2F2;
    z-index: 800;
}

.contact p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%
}
/*------------------- MENU -------------------*/

.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 80%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: grey;
  }
  
  #myInput {
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
	  width: 10%;
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6	;
	min-width: 150px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  /* ------------ FORM  ---------------- */

.form-container {
	display: flex;
	width: 100%;
}


  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: black;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: grey;
  }
  
  .container {
	border-radius: 5px;
	padding: 20px;
  }

.container-title {
	display: flex;
	flex-direction: column;

	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
}