html,body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	height: 100vh;
	width: 100vw;
}

.containermain{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background-color: black;

}

.button{
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	margin-left: 10%;
	width: 40%;
	cursor: pointer;
}

.buttonacc {
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}

.buttonacc span{
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	  text-decoration: none;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.buttonacc a{
	color: #fff;
	text-decoration: none;
	display: block;

}

.buttonacc::before{
	content: '';
	position: absolute;
	text-decoration: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);

}

.buttonacc:hover span{
	letter-spacing: 2px;
	text-decoration: none;
}

.buttonacc:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	text-decoration: none;

}

.buttonacc::after{
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.25);
	text-decoration: none;

}

.buttonacc:hover::after{
	opacity: 0;
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
}

.containerleft{
	display: flex;
	width: 54vw;
	height: 100vh;
	z-index: 2;
	flex-direction: column;
}

.containermid{
	display: flex;
	width: 1vw;
	height: 100vh;
	z-index: 2;
	justify-content: center;
	align-items: center;

}

.containerright{
	display: flex;
	width: 45vw;
	height: 100vh;
	z-index: 2;
	flex-direction: column;

}

.containerrighttop{
	display: flex;
	width: 45vw;
	height: 20vh;
	z-index: 2;
	flex-direction: row;

}

.containerrightmid{
	display: flex;
	width: 45vw;
	height: 60vh;
	z-index: 2;
	justify-content: center;
	justify-content: space-around;
	flex-direction: column;
}

.containerrightbellow{
	display: flex;
	width: 45vw;
	height: 20vh;
	z-index: 2;
	flex-direction: row;
	align-items: center;
}

.containerlefttop{
	display: flex;

	width: 100%;
	height: 50vh;
	z-index: 5;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.containerleftbellow{
	display: flex;
	width: 100%;
	height: 50vh;
	z-index: 5;
	flex-direction: row;
	justify-content: space-around;
	align-items: center
}

.boxactu{
	display:flex;
	width: 25%;
	height: 40%;
	z-index: 5;
	flex-direction: row;
  border-bottom: 3px white outset;
	border-top:3px white outset;
	justify-content: center;
}


.box{
	color: white;
	margin-top: 3px;
	font-style: italic;
}

.actufont{
	writing-mode: vertical-rl;
text-orientation: upright;
	color: white;

}

div#slider{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}

div#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: left;
	left: 0;
	animation: 60s slidy infinite;
}

div#slider figure img{

	width: 20%;
	height: 100vh;
	float: left;
}

.midhr{
	border:none;
	border-left:3px solid white;
	height:60%;
	width:3px;
	margin-left: 15%;
	color:#fff;
}

.separhr{
	height: 1px;
	padding: 0;
	color: white;
	z-index: 3;
	background-color: white;
	border: 0;
}

@keyframes slidy {

	0% {left:0%;}
	20% {left:0%;}
	25% {left:-100%;}
	45% {left:-100%;}
	50% {left:-200%;}
	70% {left:-200%;}
	75% {left:-300%;}
	95% {left:-300%;}
	100% {left:-400%;}
}

.ml5 {
	position: absolute;

	font-weight: 400;
	font-size: 6.5em;
	color: white;
	margin-top:20%
	padding: 0;
	text-shadow: 0.5px 0.5px 0.5px black;
}

.ml5 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
	line-height: 1em;
}

.ml5 .line {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 3px;
	width: 100%;
	text-shadow: 0.5px 0.5px 0.5px black;
	background-color: white;
	transform-origin: 0.5 0;
}

.ml5 .ampersand {
	font-family: Baskerville, "EB Garamond", serif;
	font-style: italic;
	font-weight: 400;
	width: 1em;
	margin-right: -0.1em;
	margin-left: -0.1em;
}

.ml5 .letters {
	display: inline-block;
	opacity: 0;
}

a {
  text-decoration: none;
}
