html,body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-image:url("../assets/image-1.jpg");
	background-size: cover;
}

body{
	height: 100vh;
	width: 100vw;
}

.containermain{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}


.button{
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	margin-left: 10%;
	width: 50%;
	cursor: pointer;
}

.buttonacc {
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}

.buttonacc span{
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	  text-decoration: none;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.buttonacc a{
	color: #fff;
	text-decoration: none;
	display: block;

}

.buttonacc::before{
	content: '';
	position: absolute;
	text-decoration: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);

}

.buttonacc:hover span{
	letter-spacing: 2px;
	text-decoration: none;
}

.buttonacc:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	text-decoration: none;

}

.buttonacc::after{
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.25);
	text-decoration: none;

}

.buttonacc:hover::after{
	opacity: 0;
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
}

.containerleft{
	display: flex;
	width: 54vw;
	height: 100vh;
	color: white;
	z-index: 2;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.history-div, .producteurs-div, .passion-div, .restau-div{
	display: none;
}

.containermid{
	display: flex;
	width: 1vw;
	height: 100vh;
	z-index: 2;
	align-items: center;
	flex-direction:row;


}

.containerright{
	display: flex;
	width: 45vw;
	height: 100vh;
	z-index: 2;
	flex-direction: column;

}

.containerrighttop{
	display: flex;
	width: 45vw;
	height: 20vh;
	z-index: 2;
	flex-direction: row;

}

.containerrightmid{
	display: flex;
	width: 45vw;
	height: 60vh;
	z-index: 2;
	justify-content: center;
	justify-content: space-around;
	flex-direction: column;
}

.containerrightbellow{
	display: flex;
	width: 45vw;
	height: 20vh;
	z-index: 2;
	align-items: center;
	justify-content: flex-end;
}

.boxactu{
	display:flex;
	width: 25%;
	height: 40%;
	z-index: 5;
	flex-direction: row;
  border-bottom: 3px white outset;
	border-top:3px white outset;
	justify-content: center;
}


.box{
	color: white;
	margin-top: 3px;
	font-style: italic;
}

.actufont{
	writing-mode: vertical-rl;
text-orientation: upright;
	color: white;

}



.midhr{
	border:none;
	border-left:3px solid white;
	height:60%;
	width:3px;
	margin-left: 15%;
	color:#fff;
}

.separhr{
	height: 1px;
	padding: 0;
	color: white;
	z-index: 3;
	background-color: white;
	border: 0;
}


a {
  text-decoration: none;
}
