body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/michael-browning-14090-unsplash.jpg);
  background-size: cover;
}

input, button {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.main_div {
  height: 25%;
  width: 25%;
  margin: 0px auto;
  padding: 20px;
  font-size: 16px;
}

.main_div input {
  display: block;
  border: 1px solid #610B21;
  border-radius: 5px;
  background: #dad4d4;
	color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main_div input:focus {
  border: 1px solid #777;
}

.main_div button {
  color: white;
  background: #610B21;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main_div button:hover {
  background: #fff;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  cursor: pointer;
}

.form-control{
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;

}

a {
text-decoration: none;
}


.form-control {
    border: 1px solid #610B21;
    border-radius: 5px;
    background: #dad4d4;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
